# .NET build outputs
bin/
obj/
*.user
*.suo
.vs/

# NuGet
*.nupkg
*.snupkg
packages/
project.lock.json
project.fragment.lock.json
artifacts/

# Publish output
publish/

# OS
.DS_Store
Thumbs.db

# Rider
.idea/

# VS Code
.vscode/

# User-specific files
*.rsuser
*.userosscache
*.sln.docstates
